<% layout("layouts/boilerplate") %>

<body>
    <h3>Listing</h3>

    <div>
        <h2>
            <%= listing.title %>
        </h2>
        <p>
            <%= listing.description %>
        </p>
        <img src="<%= listing.image %>" alt="" width="600px">
        <h3>Price :- &#x20B9; <%= listing.price.toLocaleString("en-IN") %>
        </h3>
        <h4>Location :- <%= listing.location %>, <%= listing.country %>
        </h4>
    </div>

    <form action="/listings/<%= listing._id %>/edit">
        <button type="submit">Edit this Listing</button>
    </form>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button type="submit">Delete this Listing</button>
    </form>
</body>