<% layout("layouts/boilerplate") %>

<body>

    <div class="container mt-4 mb-3">
        <div class="row">
            <div class="col-8 offset-3">
                <h3 class="mb-3">Listing Details</h3>
                <div class="card" style="width: 40rem">
                    <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                    <div class="card-body">
                        <p class="card-text">
                            <br>
                            <b><%= listing.title %> </b> <br>
                            <%= listing.description %> <br> <br>
                            Price :- &#x20B9; <%= listing.price.toLocaleString("en-IN") %>/night <br>
                            Location :- <%= listing.location %>, <%= listing.country %>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <form action="/listings/<%= listing._id %>/edit" class="col-1">
                        <button type="submit" class="btn btn-dark">Edit</button>
                    </form>
                
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" class="col-1"> 
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>